{% load static %}
<!-- Benefit -->
	
<div class="benefit">
    <div class="container">
        <div class="row benefit_row dir_rtl">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>{{setting.footerrules1a}}</h6>
                        <p>{{setting.footerrules1b}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>{{setting.footerrules2a}}</h6>
                        <p>{{setting.footerrules2b}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>{{setting.footerrules3a}}</h6>
                        <p>{{setting.footerrules3b}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>{{setting.footerrules4a}}</h6>
                        <p>{{setting.footerrules4b}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>